
.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}

.check{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    position:relative;
}

.lower{
    border-bottom: none;
}

.right{
    border-right:none;
}

.left{
    border-left: none;
}

.top{
    border-top:none;
}